{% extends "layouts/base.html" %}
{% block content %}

<div class="content">
    <div class="row">
      <div class="col">
        <h2>Alumnos</h2>
        <a href="{% url 'studentCreate' %}">        <button type="button" class="btn btn-success">Agregar</button>        </a>
        <button type="button" class="btn btn-danger">Eliminar</button>

      </div>
    </div>
    <div class="row">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Nombre
                </th>
                <th>
                  Dni
                </th>
                <th>
                  Certificado
                </th>
              </tr>
            </thead>

            <tbody>
              {% if studentList%}
              {% for alumno in studentList%}

              <tr>
                <td>
                  {{alumno.name}} {{alumno.last_name}} 

                </td>
                <td>
                  {{alumno.dni}}
                </td>
                <td>
                  <a href="{{alumno.health_file}}" download><div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    
                      <i class="tim-icons icon-notes" style="color: white;"></i>
                      
                    
                  </div></a>
                </td>
                

              </tr>
              {% endfor %}
            </tbody>
            
            {%else%}
            <h3>no hay alumnos</h3>
            {%endif%}
          </table>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}
