{% extends "layouts/base.html" %} {% block content %}
<div class="content">
  <div class="row">
    {% if not object.id%}
    <div class="col">
      <h2>Agregar alumno</h2>
    </div>

    {%else%}
    <div class="col">
      <h2>Editar alumno</h2>
    </div>
    {%endif%}
  </div>
  <div class="row">
    <div style="width: 50%">
      <div class="col">
        <form method="POST">
          {% csrf_token %} {{form.as_p}}
          <input class="btn btn-success" type="submit" name="" value="Listo" />
          {% if object.id%}
          <a href="{% url 'deleteStudent' object.id %}">
            <button type="button" class="btn btn-danger">Eliminar</button>
          </a>

          {%endif%}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
