
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    CT
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Creative Tim
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="{% url 'students'%}">
                        <i class="tim-icons icon-badge"></i>
                        <p>Alumnos</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="{% url 'staff'%}">
                        <i class="tim-icons icon-pin"></i>
                        <p>Staff</p>
                    </a>
                </li>
                <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="{% url 'exercises'%}">
                        <i class="tim-icons icon-user-run"></i>
                        <p>Ejercicios</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="{% url 'studentLogIn'%}">
                        <i class="tim-icons icon-badge"></i>
                        <p>Log In Alumnos</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="{% url 'payments' %}">
                        <i class="tim-icons icon-credit-card"></i>
                        <p>Pagos</p>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
